@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type:none;
  text-decoration:none;  
  font-size: 12px;
}

a {
  text-decoration:none;  
  color: #545454;
}

.header .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-top {
  display: flex;
  width: 100%;
}

.nav{
  display: flex;
  width: 100%;
  background-color: lightgray;
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  gap: 16px;
  margin-left: auto;
  flex: auto 1;
  justify-content: flex-end;
  padding-right: 20px;
}

.footer {
  bottom: 0%;
  position:fixed;
  width: 100%;
  margin-right: 10px;

}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
  height: 75%;
  padding-bottom: 30px;
}